@use "@styles/main";

.h5peditor-portfolio-chapter {
  .field-name-chapter {
    &> .title {
      display: none;
    }

    &> .content {
      background: inherit;
      border: 0;
      padding: 0;

      &> .field.list {
        &> .h5peditor-label {
          display: none
        }

        .h5peditor-widget-wrapper {
          .list-item-title-bar {
            background: main.$base-color;

            .list-actions .order-group {
              background: main.$base-color;

              &> .h5peditor-button {
                &::after {
                  opacity: .7;
                }

                &:hover {
                  background: inherit;

                  &::after {
                    opacity: 1;
                  }
                }
              }
            }
          }

          &> .h5peditor-button.h5peditor-button-textual {
            background: main.$base-color;

            &:hover {
              background: main.$base-color-90;
            }
          }
        }
      }
    }
  }
}
